* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    border: 2px solid rgb(250, 79, 0);   
    width: 1190px;
    height: 2000px;
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(115, 128, 244);
}

main::selection{
    background-color: aquamarine;
    color: #000000;
}
.basliq {
    border: 4px solid rgb(250, 79, 0);  
    width: 1100px;
    height: 100px;                  
    padding: 30px;
    margin: 20px;                       
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;            
    position: relative;     
    top: 120px; 
    left:47px;                 
}
.ilkh2{
    font-size: larger;
    padding: 0; 
    margin: 0; 
    margin-top: -60px;
}
.ilkh2::before{
    content: "*";
}
.ilkh2::first-line{
    font-weight:900;
}
.ilk {
    border: 2px solid rgb(250, 79, 0); 
    width: 1100px;
    height: 300px;
    padding: 30px;
    position: absolute;
    top:254px;
    left:67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: aqua;
}
.h21 {
    font-size: larger;
    padding: 0; 
    margin: 0; 
    margin-top: -240px;
}
.h21::before{
    content: "*";
}
.kart1{
     border: 2px solid rgb(250, 79, 0); 
    width: 300px;
    height: 100px;
    padding: 30px;
    position: absolute;
    top:84px;
    left:42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: aliceblue;
}
.karth{
    font-size: larger;
    padding: 0; 
    margin: 0; 
    margin-top: -78px;
    margin-left: -240px;
}
.karth1::before{
    content: "*";
}
.kart2{
    border: 2px solid rgb(250, 79, 0); 
    width: 300px;
    height: 100px;
    padding: 30px;
    position: absolute;
    top:84px;
    left:349px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: aliceblue;
}
.karth2{
    font-size: larger;
    padding: 0; 
    margin: 0; 
    margin-top: -78px;
    margin-left: -210px;
}
.karth2::before{
    content: "*";
}
.kart3{
    border: 2px solid rgb(250, 79, 0); 
    width: 300px;
    height: 100px;
    padding: 30px;
    position: absolute;
    top:84px;
    left:656px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: aliceblue;
}
.karth3{
    font-size: larger;
    padding: 0; 
    margin: 0; 
    margin-top: -78px;
    margin-left: -210px;
}
.karth3::before{
    content: "*";
}
.kart4{
    border: 2px solid rgb(250, 79, 0); 
    width: 300px;
    height: 100px;
    padding: 30px;
    position: absolute;
    top:200px;
    left: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: aliceblue;
}
.karth4{
    font-size: larger;
    padding: 0; 
    margin: 0; 
    margin-top:-67px;
    padding-right:5cm;
}
.karth4::before{
    content: "*";
}

.kart5{
     border: 2px solid rgb(250, 79, 0); 
    width: 300px;
    height: 100px;
    padding: 30px;
    position: absolute;
    top:200px;
    left:349px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: aliceblue;
}
.karth5::before{
    content: "*";
}
.karth5{
    font-size: larger;
    padding: 0; 
    margin: 0; 
    margin-top:-67px;
    padding-right:5cm;
}
.kart6{
     border: 2px solid rgb(250, 79, 0); 
    width: 300px;
    height: 100px;
    padding: 30px;
    position: absolute;
    top:200px;
    left:656px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: aliceblue;
}
.karth6{
   font-size: larger;
    padding: 0; 
    margin: 0; 
    margin-top:-67px;
    padding-right:5cm;
}
.karth6::before{
    content: "*";
}
.iki {
    border: 2px solid rgb(250, 79, 0);  
    width: 1100px;
    height: 300px;
    padding: 240px;
    position: absolute;
    top: 580px;
    left: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background-color: aqua;
    
}
.h22 {
    display: flex;
   position: absolute;
    font-size: larger;
    top: 590px;
}
.h22::before{
    content: "*";
}
.uc{ border: 2px solid rgb(250, 79, 0);  
    width: 1100px;
    height: 300px;
    padding: 50px;
    position: absolute;
    top: 1080px;
    left: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.cards{
display: flex;
flex-direction: column;
align-items: center;
justify-items: center;
}
.card1{
    border: 2px solid rgb(250, 79, 0); 
    width: 280px;
    height:200px;
    position: absolute;
    top:50px;
    left:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: aliceblue;
}
.m21{
    position: absolute;
    top:10px;
    left:24px;

}
.card2{
      border: 2px solid rgb(250, 79, 0); 
    width: 280px;
    height:200px;
    position: absolute;
    top:50px;
    left:358px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: aliceblue;
}
.m22{
 position: absolute;
top:10px;
left:23px;
}
.card3{
      border: 2px solid rgb(250, 79, 0); 
    width: 280px;
    height:200px;
    position: absolute;
    top:50px;
    left:680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: aliceblue;
}
.m23{
position: absolute;
top:10px;
left:23px;
}
.h23{
    font-size: larger;
    padding: 0; 
    margin: 0; 
    margin-top: -240px;
}
.h23::before{
    content: "*";
}
.dord{ border: 2px solid rgb(250, 79, 0);  
    width: 1100px;
    height: 300px;
    padding: 60px;
    position: absolute;
    top: 1400px;
    left: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.h24{
    font-size: larger;
    padding: 42px;
    margin:0;
    margin-top:-250px;
}
.h24::before{
    content: "*";
}
.bes{border: 2px solid rgb(250, 79, 0); 
    width: 1100px;
    height: 300px;
    padding: 70px;
    position: absolute;
    top: 1720px;
    left: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.h25{
    font-size: larger;
    padding: 52px;
    margin:0;
    margin-top:-245px ;
}
.h25::before{
    content: "*";
}
.my{
    position: fixed;
    border: 2px solid rgb(250, 79, 0);  
    width: 40px;
    height: 10px;
    left: 200px;
    padding: 70px;
    top:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h1{ font-size: large;
     padding: 3px;
     width: 400px;
     height: 100px;    
     margin-left: 290px;
     
}
.h1::before{
    content: "*";
}

